
.vs/menu/v15/Browse.VC.db
.vs/menu/v15/Browse.VC.opendb
.vs/menu/v15/ipch/AutoPCH/1dc15925fbe7d62d/MAINM.ipch
Debug/mainM.obj
Debug/menu.exe
Debug/menu.ilk
Debug/menu.log
Debug/menu.obj
Debug/menu.pdb
Debug/menu.tlog/CL.command.1.tlog
Debug/menu.tlog/CL.read.1.tlog
Debug/menu.tlog/CL.write.1.tlog
Debug/menu.tlog/link.command.1.tlog
Debug/menu.tlog/link.read.1.tlog
Debug/menu.tlog/link.write.1.tlog
Debug/menu.tlog/menu.lastbuildstate
Debug/vc141.idb
Debug/vc141.pdb
.vs/menu/v15/ipch/AutoPCH/c4265dfb76364590/MENU.ipch
Debug/menu.Build.CppClean.log
