
.vs/menu/v15/Browse.VC.db
.vs/menu/v15/Browse.VC.opendb
.vs/menu/v15/ipch/AutoPCH/1dc15925fbe7d62d/MAINM.ipch
Debug/mainM.obj
Debug/menu.exe
Debug/menu.ilk
Debug/menu.log
Debug/menu.obj
Debug/menu.pdb
Debug/menu.tlog/CL.command.1.tlog
Debug/menu.tlog/CL.read.1.tlog
Debug/menu.tlog/CL.write.1.tlog
Debug/menu.tlog/link.command.1.tlog
Debug/menu.tlog/link.read.1.tlog
Debug/menu.tlog/link.write.1.tlog
Debug/menu.tlog/menu.lastbuildstate
Debug/vc141.idb
Debug/vc141.pdb
.vs/menu/v15/ipch/AutoPCH/c4265dfb76364590/MENU.ipch
Debug/menu.Build.CppClean.log
.vs/menu/v15/.suo
x64/Debug/main.obj
x64/Debug/menu.exe
x64/Debug/menu.ilk
x64/Debug/menu.log
x64/Debug/menu.pdb
x64/Debug/menu.tlog/CL.command.1.tlog
x64/Debug/menu.tlog/CL.read.1.tlog
x64/Debug/menu.tlog/CL.write.1.tlog
x64/Debug/menu.tlog/link.command.1.tlog
x64/Debug/menu.tlog/link.read.1.tlog
x64/Debug/menu.tlog/link.write.1.tlog
x64/Debug/menu.tlog/menu.lastbuildstate
x64/Debug/ui.obj
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
.vs/menu/v15/ipch/AutoPCH/32f0245ff40e6a93/MAIN.ipch
.vs/menu/v15/ipch/AutoPCH/38b7b26d41a1c764/UI.ipch
